<!DOCTYPE html>
<html lang="en" ng-app="expandingDial">
<head>
	<meta charset="UTF-8">
	<title>Angular Resizable Ellipse Directive</title>
	<link rel="stylesheet" href="app/ng-dial.css">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="app/ng-dial.js"></script>
</head>
<body ng-controller="dialController">
	<label>
    Angle of rotation (deg)
    <input class="angleIndicator" type="number" min="0" max="360" ng-model="dialAngle">
  </label>

  <label>
    Width of circle (px)
    <input type="text" class="widthIndicator" ng-model="dialWidth"/>
  </label>

  <label>
    Height of circle (px)
    <input type="text" class="heightIndicator" ng-model="dialHeight"/>
  </label>

  <label>
    Center of circle, X coord (px)
    <input type="number" class="leftIndicator" ng-model="dialCenter.x"/>
  </label>

  <label>
    Center of circle, Y coord (px)
    <input type="number" class="topIndicator" ng-model="dialCenter.y"/>
  </label>

  <h1>Resizable Ellipse Directive</h1>

  <p class="description">This Angular 1.x directive allows for a dynamically resizable ellipse to be drawn.</p>

  <p class="description">Use the <span style="color:red;">red</span> handle to change the ellipse's width and angular orientation, and the <span style="color:green;">green</span> handle to adjust the ellipse's height.</p>

  <p class="description">OR do neither, and simply use the magic of Angular's 2-way binding to explicitly set those values.</p>

  <dial angle="dialAngle" ellipsewidth="dialWidth" ellipseheight="dialHeight" ellipsecenter="dialCenter"></dial>
</body>
</html>